
@{
    ViewData["Title"] = "Result";
}

<body>
    <div class="text-center">
        <h1>Result</h1>
    </div>

    <p>
        @ViewBag.Hours hours, @ViewBag.Minutes minutes and @ViewBag.Seconds seconds is @ViewBag.TotalSeconds seconds.
    </p>
</body>

